{% extends 'accounts/main.html' %}
{% block content %}
{% load static %}

<br>
<center>
<div class="row">
	<div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images/africa.png'%}" style="height: 200px;">
      <div class="card-body" style="background-color: rgb(249, 176, 0);">
        <h5 class="card-title">AFRICA</h5>
        <a href="/region/africa" class="btn btn-primary">View Locations</a>
      </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images/asia.png'%}" style="height: 200px;">
      <div class="card-body" style="background-color: rgb(249, 176, 0);">
        <h5 class="card-title">ASIA</h5>
        <a href="/region/asia" class="btn btn-primary">View Locations</a>
      </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images/europe.png'%}" style="height: 200px;">
      <div class="card-body" style="background-color: rgb(249, 176, 0);">
        <h5 class="card-title">EUROPE</h5>
        <a href="/region/europe" class="btn btn-primary">View Locations</a>
      </div>
    </div>
    </div>
</div>
    <br/><br/>
    <div class="row">
	<div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images/northamerica.png'%}" style="height: 200px;">
      <div class="card-body" style="background-color: rgb(249, 176, 0);">
        <h5 class="card-title">NORTH AMERICA</h5>
        <a href="/region/northamerica" class="btn btn-primary">View Locations</a>
      </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"  src="{% static 'images/southamerica.png'%}" style="height: 200px;">
      <div class="card-body" style="background-color: rgb(249, 176, 0);">
        <h5 class="card-title">SOUTH AMERICA</h5>
        <a href="/region/southamerica" class="btn btn-primary">View Locations</a>
      </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images/australia.png'%}" style="height: 200px;">
      <div class="card-body" style="background-color: rgb(249, 176, 0);">
        <h5 class="card-title">AUSTRALIA</h5>
        <a href="/region/australia" class="btn btn-primary">View Locations</a>
      </div>
    </div>
    </div>
</div>
<br/> <br/>

</center>

{% endblock %}
