{% load static %}
<style>
  .hello-msg {
  margin: 10px;
  }
</style>
<nav class="navbar navbar-expand-md navbar-light bg-light" style="background-color: #0065A5 !important;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            {% if request.user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'auditlogs' %}">Audit logs</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'users' %}">Users</a>
      </li>
      {% endif %}
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Regions</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="/region/americas">Americas</a></li>
                    <li><a class="dropdown-item" href="/region/uk">UK</a></li>
                    <li><a class="dropdown-item" href="/region/north_west_europe">North West Europe</a></li>
                    <li><a class="dropdown-item" href="/region/mediterranean">Mediterranean</a></li>
                    <li><a class="dropdown-item" href="/region/west_africa">West Africa</a></li>
                    <li><a class="dropdown-item" href="/region/south_africa">South Africa</a></li>
                    <li><a class="dropdown-item" href="/region/middle_east">Middle East</a></li>
                    <li><a class="dropdown-item" href="/region/indian_subcontinent">Indian Subcontinent</a></li>
                    <li><a class="dropdown-item" href="/region/asia_pacific">Asia Pacific</a></li>
                </ul>
            </li>
             <li class="nav-item active">
              <a class="nav-link" href="{% url 'locations' %}">All Locations</a>
            </li>
            
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> FAQs</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{% url 'faq' %}">User FAQs</a></li>
                  {% if request.user.is_staff %}
                  <li><a class="dropdown-item" href="{% url 'faqadmin' %}">Admin FAQs</a></li>
                  {% endif %}
              </ul>
          </li>
          
        </ul>
    </div>

  </div>

  <span class="hello-msg">Hello, {{request.user}}</span>
  <span><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
</nav>