<head>

</head>

<body>
    <!-- Content for Static Frame 'header_frame' -->
    <div id="header_content">
    	<h1><center>STS AUDIT LOGS PDF</center></h1>
    </div>


    <!-- HTML Content -->

    <hr>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>

		<div class="scrollbar scrollbar-primary"></div>

		<div id="user">
				<table class="table table-responsive-md btn-table">
						<thead>
						<h3>Location Entry Logs</h3>
						<tr>
							<th >Location name</th>
							<th>Modified on</th>
							<th>Type of modification</th>
							<th>Modified by</th>
						</tr>
					</thead>
					<tbody>
						{% for t in history1 %}
						<tr>
							<td align="center">{{ t.locations.name}}</td>
							<td align="center">{{ t.history_date }}</td>
							<td align="center">{{ t.get_history_type_display }}</td>
							<td align="center">{{ t.history_user }}</td>

						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		<hr>
		<div id="blacklist">
			<table class="table table-responsive-md btn-table">
					<thead>
					<h3> BLACKLISTED USER LOGS</h3>
					<tr>
						<th>Username</th>
						<th>Modified on</th>
						<th>Type of modification</th>
					</tr>
				</thead>
				<tbody>
					{% for t in history2 %}
					<tr>
						<td align="center">{{t.username}}</td>
						<td align="center">{{t.history_date }}</td>
						<td align="center">{{t.get_history_type_display }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>
		<hr>
		<div id="user">
			<table class="table table-responsive-md btn-table">
					<thead>
					<h3>USER LOGS</h3>
					<tr>
						<th>Username</th>
						<th>Modified on</th>
						<th>Type of modification</th>
						<th>Modified by</th>
					</tr>
				</thead>
				<tbody>
					{% for t in history3 %}
					<tr>
						<td align="center">{{ t.username}}</td>
						<td align="center">{{ t.history_date }}</td>
						<td align="center">{{ t.get_history_type_display }}</td>
						<td align="center">{{ t.history_user }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>


		<hr>

	</div>
</body>
